.modalContent {
    text-align: center;
    /* padding: 20px; */
    background-color: white;
}
.heading{
    background-color: #ff4c4c;
    padding: 15px;
    color: white;
}
p{
    width: 90%;
    text-align: left;
    margin: 0 auto;
}
.buttonContainer {
    display: flex;
    justify-content: end;
    margin: 20px;
    padding: 10px;
}

.cancelButton, .confirmButton {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton {
    background-color: #f0f0f0;
    color: #333;
}

.confirmButton {
    background-color: #ff4c4c;
    color: white;
}
